.Top-Header {
    background: #1c3961;
    text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif; 
    .container {
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        a {
            text-decoration: none;
            color: #fff;
        }
        .left {
            display: flex;
            flex-flow: row wrap;
            .Header-Info{
                margin-right: 4.5rem;
            }
            svg {
                margin-right: 0.9rem;
            }
        }
        .right {
            display: flex;
            flex-flow: row wrap;
            ul, li {
                margin: 0;
                padding: 0;
                margin-right: 0.625em;
                margin-left: 0.625em;
                margin-top: 3px;
            }
            li {
                display: inline-block;
            }
            .social {
                margin-right: 8.5rem;
            .social-list {
                margin-right: 0.625em;
                margin-left: 0.625em;
                }
            }
        }
    }
}

.main-header {
    .container{
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

// .nav-wrap {
//     .nav-desktop {
//         display: inline-block;
//         .menu-list {
//             .menu-parent {
//                 padding: 15px;
//                 position: relative;
//                 display: none;
//                 &:hover {
//                     .sub-menu {
//                         display: block;
//                     }
//                 }
//                 .sub-menu {
//                     li {
//                         display: block;
//                         padding: 10px;
//                         position: absolute;
//                         a {
//                             &:hover {
//                                 background-color: #f3f3f3;
//                             }
//                         }
//                     }
//                 }
//             }
//             li, a {
//                 font-size: 20px;
//                 font-family: 'Raleway', sans-serif;
//                 font-weight: 600;
//                 color: #3a3a3a;
//                 display: inline-block;
//             }
//             a {
//                 padding: 20px 15px;
//             }   
//         }
//     }
// }
// .dropdown-nav {
//     .dropdown {
//         .dropdown-menu {
//             .dropdown-item {
//                 width: 50vh;
//                 height: 40px;
//                 padding: 5px;
                
//             }
//         }
//     }
//     li {
//         list-style-type: none;
//         justify-content: space-around;
//         justify-content: space-between;
//         margin-right: 20px;
//         a {
//             text-decoration: none;
//             color: #1c3961;
//             padding: 6px;
//             height: 5px;
//             &:hover {
//                 color: #fff;
//                 background-color: #1c3961;
//                 border-radius: 3px;
//             }
//         }
//     }
//     .btn {
//         background-color: #fff;
//         color: #1c3961;
//         border: none;
//         font-size: large;
//         &:hover {
//             background-color: #1c3961;
//             color: #fff;
//         }
//     }
// }
// .btn-group {
//     .btn {
//         height: 28px;
//     }
// }
// .carousel-inner {
//     .carousel-item {
//         .carousel-caption{
//             text-align: center;
//         }
//     }
// }


.header {
    .navbar {
        .container {
            padding-top: 0px;
            padding-bottom:0px;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 15px;
                        font-family: ui-sans-serif;
                        font-size: 25px;
                        &:hover {
                            background-color: #1c3961;
                            color: #fff;
                        }
                    }
                }
                 .dropdown-menu {
                     .dropdown-item {
                        padding: 10px;
                        font-family: ui-sans-serif;
                        font-size: 20px;
                        &:hover {
                            background-color: #1c3961;
                            color: #fff;
                        }
                     }
                 }
            }
            .navbar-toggler {
                margin: 20px;
                background: #1c3961;
                border: none;
                outline: none;
                padding: 5px;
                width: 20px;
                span {
                    display: block;
                    width: 20px;
                    height: 1px;
                    border: 1px;
                    background-color: #fff ;
                    + span {
                        margin-top: 4px;
                        margin-left: 4px;
                        width: 15px;
                        + span {
                            width: 8px;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}
